<!-- Starts Main Section -->
<main>
    <div class="container">
        <div class="col-9">

            {{#if pets}}

                {{#each pets}}
                    {{> petPreview}}
                {{/each}}

            {{else}}
                <!--If there are no photo yet!-->
                <article class="not-available-photo">
                    <h1>No photo posts yet.</h1>
                </article>
            {{/if}}
        </div>

    </div>
</main>





    {{!-- {{#each pets}}
        {{> petPreview}}
    {{else}}
        <!--If there are no photo yet!-->
        <article class="not-available-photo">
            <h1>No photo posts yet.</h1>
        </article>
    {{/each}} --}}